* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  #nav {
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  #nav > a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: 1px 1px 2px white;
  }
  
  
  #myForm {
    height: 80vh;
    width: 100%;
    background: linear-gradient(black, white);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #myForm > form {
    height: 450px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
    border: 1px solid white;
    box-shadow: 0px 0px 5px white; 
    background: linear-gradient(black,white) 
    /* padding: 10px;  */
  }
  
  #myForm input,
  #myForm select {
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
    padding: 3px;
    margin-bottom: 15px;
  }
  
  #myForm input:focus,
  #myForm select:focus {
    outline: none;
  }
  
  #myForm select option {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    outline: none;
  }
  
  #myForm select option:checked {
    background-color: #555;
    font-weight: bold;
  }
  
  button {
    height: 30px;
    width: 80%;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color:#333;
  }
  
  form > table > tbody > tr > td,
  th {
    padding: 13px;
  }
  